a {
  text-decoration: none !important;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__searchIcon {
  padding: 5px;
  height: 30px !important;
  background-color: #cd9042;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__searchInput {
  height: 20px;
  padding: 10px;
  border: none;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

/*=====================*/
/*====SECOND HEADER====*/
/*=====================*/

.second__header {
  background-color: #232f3e;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.second__header__titles {
  font-size: 12px;
  padding: 8px;
}

.second__header__location {
  padding: 8px;
}

.second__header__icon {
  padding-left: 8px;
}

.second__header__location__delivers {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.Second__header__location__location {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.second__header__covid {
  font-size: 14px;
  padding-right: 30px;
  font-weight: 600;
  padding: 8px;
}

.border:hover {
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}
